$low: #274690;
$mid: #D6FFB7;
$high: #EC0B43;

#drawer {
  display: block;
  width: 100vw;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 700;
  transform: translateY(-80px);
  transition: 0.3s transform ease-in-out;

  &:hover {
    transform: translateY(0);
  }

  nav {
    padding-top: 20px;
    margin: 0;

    ul {
      list-style-type: none;
      display: flex;
      justify-content: center;

      li {
        display: block;
        background-color: transparent;
        color: transparent;
        position: relative;
        perspective: 100px;
        width: 100px;
        height: 100px;
        transition: all .4s cubic-bezier(.16, .53, .15, .99) 0s, margin-left 1s linear;
        text-align: center;
        line-height: inherit;
        padding-top: 100px;
        box-sizing: border-box;
        margin-left: 20px;

        &::before {
          display: block;
          content: "";
          transform: rotateY(-19deg) rotateX(-25deg) rotateZ(-5deg) translateX(-7px);
          transition: all .4s cubic-bezier(.16, .53, .15, .99) 0s;
          background: #4a80b1;
          background: rgba(255,255,255,0.1);
          border-radius: 3px;
          z-index: -1;
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background-position: center center;
          background-size: cover;
          box-shadow: 0 0 10px 0px black;
        }

        &:hover {
          color: white;
          cursor: pointer;
          &:before {
            transform: scale(1.1);
          }
        }

        &.fadeOut {
          width: 0;
          margin-left: 0;
        }

        &.gizmo_1:before {
          // Bulke Flowers
          background-color: rgba($mid, 0.8);
          background-image: url("../assets/icons/podcast.png");
        }
        &.gizmo_2:before {
          // Bass Eyes
          background-color: rgba($low, 0.8);
          background-image: url("../assets/icons/qr-code.png");
        }
        &.gizmo_3:before {
          // Ghost in the shell
          background-color: rgba($mid, 0.8);
          background-image: url("../assets/icons/window.png");
        }
        &.gizmo_4:before {
          // Dali Eyes
          background-color: rgba($low, 0.8);
          background-image: url("../assets/icons/cog.png");
        }
        &.gizmo_5:before {
          // Drive
          background-color: rgba($mid, 0.8);
          background-image: url("../assets/icons/microchip.png");
        }
        &.gizmo_6:before {
          // Lamp Spark
          background-color: rgba($low, 0.8);
          background-image: url("../assets/icons/deaf.png");
        }
        &.gizmo_7:before {
          // Acid Hologram
          background-color: rgba($high, 0.8);
          background-image: url("../assets/icons/moon.png");
        }
        &.gizmo_8:before {
          // Totoro Rain
          background-color: rgba($low, 0.8);
          background-image: url("../assets/icons/fire.png");
        }
        &.gizmo_9:before {
          // Horses Wave
          background-color: rgba($high, 0.8);
          background-image: url("../assets/icons/gravity.png");
        }
        &.gizmo_10:before {
          // Terrified
          background-color: rgba($mid, 0.8);
          background-image: url("../assets/icons/spider.png");
        }
        &.gizmo_11:before {
          // Akira
          background-color: rgba($high, 0.8);
          background-image: url("../assets/icons/fusion.png");
        }
      }
    }
  }
}