body {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  color: #eee;
  background-color: #2A3340;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


canvas {
  width: 100%;
  height: 100vh;
  display: block;
  overflow: hidden;

  &.gizmoHover {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }
  &.gizmoHold {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
}
